.onglet
{
  display:inline-block;
  margin-left:3px;
  margin-right:3px;
  padding:3px;
  border:1px solid black;
  cursor:pointer;
}


#contenu_onglet_Tab1 
{

  table-layout: fixed;
  
}

#contenu_onglet_Tab1 td
{
 background-color:#ffffff;
 border-collapse: collapse;
}




