
/* ---------------------------------------------------
                      1. ONGLETS
----------------------------------------------------- */
.onglet
{
  display:inline-block;
  margin-left:3px;
  margin-right:3px;
  padding:3px;
  border:1px solid black;
  cursor:pointer;
}

/* ---------------------------------------------------
                      2. TABLEAUX
----------------------------------------------------- */

table
{

  border-collapse:collapse;
  display:table;
}

table, td 
{
  border:1px solid black;
  border-spacing: 5px;

}

table, th
{
  border:1px solid black;
}




	