


/* ---------------------------------------------------
                      1. ONGLETS
----------------------------------------------------- */
.onglet
{
 

  padding:3px;
  border:1px solid black;
  cursor:pointer;
  display: inline-block;
  width: 500px;
  margin: 100px auto;
  padding: 0;
  background: linear-gradient(deepskyblue, dodgerblue);
  background: -webkit-linear-gradient(deepskyblue, dodgerblue);
  background:    -moz-linear-gradient(deepskyblue, dodgerblue);
  background:     -ms-linear-gradient(deepskyblue, dodgerblue);
  background:      -o-linear-gradient(deepskyblue, dodgerblue);
  background:         linear-gradient(deepskyblue, dodgerblue);
  background: dodgerblue;
  border-radius: 3px;
 
}

/* ---------------------------------------------------
                      2. TABLEAUX
----------------------------------------------------- */

table
{

  border-collapse:collapse;
  display:table;
}

table, td 
{
  border:1px solid black;
  border-spacing: 5px;

}

table, th
{
  border:1px solid black;
}





	